* {box-sizing: border-box;
    margin: 0;
padding: 0;}


.wrapper { background-color: rgb(210, 226, 241);
    max-width: 1000px;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 60% 20%;
    
}

.header {
grid-column: 1/4;
display: grid;
justify-self: center;
align-self: center;
}

.header p {
    text-align: center;
}

.footer{
    grid-column: 1/4; 
}

.main { background-color:blanchedalmond;
    text-align: center;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 45% 20% 20%;
    grid-template-areas: 
    "main_part main_part"
    "first_box second_box"
    "third_box third_box";
    column-gap: 10px;
    row-gap: 20px;
    padding: 20px;
}

.main_part{
    grid-area: main_part;
    padding-top: 20px;
}

.first_box {
    grid-area: first_box;
}

.second_box {
    grid-area: second_box;
}

.third_box {
    grid-area: third_box;
}


.first_box, .second_box, .third_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  coral;
}

.aside {background-color: aquamarine;
    text-align: center;
}

.aside p {
    padding-top: 40px;
}

.footer_boxes {
    display: grid;
    grid-template-columns: repeat(4,23%);
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
    
}

.footer_box {
    background-color: whitesmoke;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}